## all hiddens
#.*
## but:
#!.gitignore
#!.gitkeep
#
# current configuration
MVTopicModel/src/main/resources/config.properties
MVTopicModelRESTApi/src/main/resources/application.properties

target
logs
# output/
# intellij
.idea
*.iml
